.elementor-widget-wp-widget-gd_post_distance .bsui .ml-2 {
  margin-left: 0rem !important;
}

.elementor-widget-wp-widget-gd_post_distance .gd-badge {
  margin-left: 0rem !important;
}

.elementor-widget-wp-widget-gd_post_distance .fa-road {
  display: none;
}

.elementor-widget-wp-widget-gd_post_distance .bagde {
  padding: 0 0 0 0;
}

.elementor-widget-wp-widget-gd_post_distance .bsui .badge {
  font-weight: 300;
  font-size: 16px;
  padding: 0em 0em;
}

.elementor-widget-wp-widget-gd_post_rating .bsui .ml-2 {
  margin-left: 0rem !important;
}
