.archive-item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center; */
  /* padding: 1rem; */
  border: 1px solid #eaeaea;
  border-radius: 5px;
  /* text-align: center;
  font-family: "Helvetica";
  color: #000000;
  text-decoration: none; Removes underline */
}

.archive-item.trusted_partner {
  border: 3px solid #314b9a;
}

.archive-item.trusted_partner .trusted_partner-header {
  background-color: #314b9a;
  margin-bottom: 0;
  padding: 8px 16px 12px;
  display: grid;
  grid-template-columns: auto auto 1fr;
}

.archive-item.trusted_partner .trusted_partner-header .thumbs-up {
  fill: #fff;
  margin-right: 0.5rem;
  vertical-align: text-top;
}

.archive-item.trusted_partner
  .trusted_partner-header
  .trusted_partner-description {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  align-self: center;
}

/* mobile */
@media screen and (max-width: 767px) {
  .archive-item.trusted_partner
    .trusted_partner-header
    .trusted_partner-description {
    display: none;
  }
}

.archive-item.trusted_partner
  .trusted_partner-header
  .trusted_partner-description-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  align-self: center;
}

.archive-item.trusted_partner .trusted_partner-header .tooltip {
  display: inline-block;
  position: relative;
  justify-self: end;
}

.archive-item .main-info-row {
  display: flex;
  flex-grow: 1;
  font-family: "Helvetica";
  padding: 0.5rem;
  color: #000000;
  text-decoration: none; /* Removes underline */
  flex-wrap: nowrap;
  white-space: nowrap;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .archive-item .main-info-row {
    flex-wrap: wrap;
  }
}

.archive-item .second-info-row {
  display: flex;
  flex-grow: 1;
  font-family: "Helvetica";
  padding: 0.5rem;
  color: #000000;
  text-decoration: none; /* Removes underline */
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .archive-item .second-info-row {
    flex-wrap: wrap;
    padding-top: 0rem;
  }
}

/********** IMAGE COLUMN /***********/
.main-info-row .image-column img {
  width: 175px !important;
  max-width: 175px !important;
  height: 125px !important;
  object-fit: cover !important;
  border-radius: 6px 6px 6px 6px !important;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

/* mobile */
@media screen and (max-width: 767px) {
  .main-info-row .image-column img {
    flex: 1 1 auto;
    width: 105px !important;
    max-width: 105px !important;
    height: 75px !important;
    object-fit: cover !important;
    border-radius: 3px 3px 3px 3px !important;
    margin-top: 0rem;
    margin-left: 0rem;
  }

  .depotrum-list .depotrum-row .image-column {
    min-width: 60px;
    max-width: 60px;
  }
}

/*********************/

/********** TITLE COLUMN /***********/
.title-column {
  display: flex;
  flex-direction: column;
  /* max-width: calc(100% - 85px - 3rem); */
  /* justify-content: center;
  align-items: center; */
  /* padding: 0.5rem; */
  margin-left: 1rem;
  overflow: hidden;
  width: fit-content;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .title-column {
    max-width: calc(100% - 85px - 8rem);
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .title-column {
    max-width: calc(100% - 85px - 3rem);
  }
}
.title-column h2 {
  font-size: 22px !important;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  white-space: wrap;
}

@media screen and (max-width: 767px) {
  .title-column h2 {
    font-size: 20px !important;
  }
  .title-column .address {
    font-size: 14px !important;
    margin-bottom: 0rem;
  }
}

/*********************/

/********** TAG COLUMN /***********/
.tag-column {
  display: flex;
  flex-direction: column;
  margin-left: auto; /* Pushes the tag column to the end */
  justify-content: right;
  padding: 0.5rem;
  /* flex-basis: 100%; */
  order: 3;
}

.tag {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
}

/* mobile */
@media screen and (max-width: 1024px) {
  .tag-column {
    flex-direction: row;
    justify-content: flex-start !important;
    /* This will allow the tag column to break into a new line */
    flex: 0 0 100%; /* Do not grow, do not shrink, start on a new line at 100% width */
    margin-left: 0; /* Reset margin left */
    order: 3; /* Ensures the tag column stays below the image and title columns */
    padding: 0;
    flex-wrap: wrap;
  }
  .tag {
    justify-content: flex-start !important;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 0.2rem;
  }
}

.tag::after {
  content: "\2713"; /* Unicode character for checkmark */
  padding-left: 5px; /* Space between the tag and the checkmark */
  color: #fc0;
}

.elementor-widget-wp-widget-gd_post_distance .bsui .ml-2 {
  margin-left: 0rem !important;
}

.elementor-widget-wp-widget-gd_post_distance .gd-badge {
  margin-left: 0rem !important;
}

.elementor-widget-wp-widget-gd_post_distance .fa-road {
  display: none;
}

.elementor-widget-wp-widget-gd_post_distance .bagde {
  padding: 0 0 0 0;
}

.elementor-widget-wp-widget-gd_post_distance .bsui .badge {
  font-weight: 300;
  font-size: 16px;
  padding: 0em 0em;
}

.elementor-widget-wp-widget-gd_post_rating .bsui .ml-2 {
  margin-left: 0rem !important;
}

.star-review-column {
  margin-left: 0.2rem;
  display: flex;
  align-items: flex-end;
  margin-top: auto;
  flex-direction: row;
  /* margin-left: auto; */
  /* align-items: flex-start; */
}

.stars {
  margin-right: 10px;
  align-items: center;
  align-self: center;
  flex-direction: row;
  display: flex;
}

.stars .star.small {
  width: 16px;
  height: 16px;
}

.star.full path {
  fill: #fc0;
  stroke: #fc0;
}

.star-review-text {
  white-space: nowrap;
  font-size: 11pt;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 0.05em; /* adjust as needed */
  color: #000;
}

.star-review .ph-text {
  margin-right: 5px;
}

.best-review {
  /* margin: 20px 10px; */
  position: relative;
  min-width: 0;
  line-height: 1.35em;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0.2rem;
  display: flex;
  white-space: nowrap;
  color: #555;
  height: 18px;
  width: 100%;
}
.review-text {
  display: inline-block; /* Change display to inline-block */
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  width: 85%;
  font-weight: 500;
}

/* mobile */
@media screen and (max-width: 767px) {
  .review-text {
    width: 70%;
  }
}

.best-review-link {
  display: inline-block; /* Ensure link is on a separate line */
  white-space: nowrap;
  font-size: 11pt;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: 0.02em; /* adjust as needed */
  color: #000;
  margin-left: 10px;
}
