.foldableDiv {
  overflow: hidden;
  transition: max-height 0.2s ease;
  padding: 0rem 1rem 0rem 1rem;
}

.booking_form {
  width: 100%;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Adjust as needed */
}

.center-items {
  justify-content: center !important;
}

/* Input field styles */
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="date"],
select {
  width: 48%;
  padding: 10px;
  border: 2px solid #eaeaea;
  border-radius: 6px; /* Rounded corners */
  font-size: 15px;
}

/* Focus styles */
.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="tel"]:focus,
.form-row input[type="date"]:focus,
select:focus {
  outline: none; /* Removes the default focus outline */
  border: 2px solid #202020; /* Optional: changes the border color */
}

.form-row input[type="submit"] {
  background-color: #ff336a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Helvetica";
  text-align: center;
  outline: none; /* Remove outline */
  vertical-align: middle;
  align-items: center;
  user-select: none;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 6px !important;
  border: none; /* No border */
  padding: 16px 20px; /* Top and bottom padding 12px, left and right padding 24px */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  width: 100%;
}
.form-row input[type="submit"]:hover {
  background-color: #ff336a;
  /* make the button grow 5% on hover */
  transform: scale(1.02);
}

/*****DATEPOICKER IN USE******/

/* This styles the custom select wrapper and trigger (MORE STYLES) */
.custom-select-wrapper {
  width: 48%;
  position: relative;
  user-select: none;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  color: #333;
  height: 45px;
  border: 2px solid #eaeaea;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  appearance: none;
  z-index: 2;
}

.custom-select__trigger:hover {
  border: 2px solid #000000;
}

.dropdown-icon {
  border-left: 2px solid #eaeaea;
  height: 30px;
  width: 40px;
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Pointer cursor on hover */
  pointer-events: none;
  z-index: 1;
}

.lock-in-rate {
  display: flex;
  align-items: center; /* Align the text and the icon vertically */
  font-size: 16px; /* Set the font size as needed */
}

.clock-icon {
  margin-right: 16px; /* Add some space between the icon and the text */
  width: 24px; /* Set the width of the icon */
  height: 24px; /* Set the height of the icon */
}

.lock-in-rate {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.instruction {
  font-size: 16px; /* Set the size of the font */
  color: #666; /* A lighter shade for the instructional text */
  margin-top: 0; /* Remove any default margin */
  width: 48%;
  font-weight: 200;
  margin-bottom: 0rem !important;
}

.instruction .fullwidth {
  width: 100%;
}

.error-message {
  color: #ff3333;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.5rem;
  display: none;
}
