/********** THREE COLUMNS /***********/
.three-columns {
  column-count: 3;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .three-columns {
    column-count: 1;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 5px 20px 5px 0px;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.partner_gd_place_link {
  font-weight: bold;
  /* text-decoration: none !important; */
}

.gd_place_link {
  font-weight: normal;
  /* text-decoration: none !important; */
}

.gd_place_list {
  line-height: 2rem;
}

.top-seo-text {
  /* color: #4d4d4d; */
  font-size: 13pt;
  font-weight: 400;
}

/* mobile */
@media screen and (max-width: 767px) {
  .top-seo-text {
    font-size: 11pt;
  }
}
