/********** THREE COLUMNS /***********/
.three-columns {
  column-count: 3;
  line-height: 1.5rem !important;
  font-size: 12pt;
}

/* tablet */
@media screen and (max-width: 767px) {
  .three-columns {
    column-count: 2;
  }
}

/* mobile */
@media screen and (max-width: 580px) {
  .three-columns {
    column-count: 1;
  }
}

/*********************/

/********* MAP IMG  *********/

.map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0 0.5rem 0.5rem 0;
}

/* mobile */
@media screen and (max-width: 580px) {
  .map-img {
    padding: 0rem 1rem 0.5rem 0.5rem;
  }
}

/********* HEADINGS  *********/

.seo-text h2 {
  font-size: 1.5rem !important;
  margin-bottom: 0.8rem !important;
}

.seo-text h3 {
  font-size: 1.3rem !important;
  margin-bottom: 0.5rem !important;
}

.seo-text h4 {
  font-size: 1.2rem !important;
  margin-bottom: 0.8rem !important;
}

table {
  border-collapse: collapse;
  margin-top: 0.5rem;
  line-height: 1.5rem !important;
  font-size: 12pt;
}

th,
td {
  padding: 5px 20px 5px 0px;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.partner_gd_place_link {
  font-weight: bold;
  /* text-decoration: none !important; */
}

.gd_place_link {
  font-weight: normal;
  /* text-decoration: none !important; */
}

.gd_place_list {
  line-height: 2rem !important;
}

/********** TOP SEO TEXT /***********/

.top-seo-text {
  /* color: #4d4d4d; */
  font-size: 13pt;
  font-weight: 400;
}

/* mobile */
@media screen and (max-width: 767px) {
  .top-seo-text {
    font-size: 11pt;
  }
}

/*********************/
