.dropshadow img {
  -webkit-filter: drop-shadow(5px 5px 8px #ddd);
  filter: drop-shadow(5px 5px 8px #ddd);
}

.post-image-rounded-corners img {
  border-radius: 10px !important;
}

.aligncenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aligncenter img {
  align-self: center;
}

.post-heading {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.sales-menu-item a {
  font-weight: 500 !important;
}

.menu-heading a {
  font-weight: 600 !important;
}

.sub-menu-item {
  margin-top: -0.5rem !important;
}

.sub-menu-item a {
  margin-left: 1rem !important;
  font-size: 14px;
}

.partner-img {
  vertical-align: middle;
  max-width: 100%;
  margin: 1rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .partner-img {
    margin: 0.5rem;
  }
}

.partner-page-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers items on the main axis */
  align-items: center; /* Centers items on the cross axis */
  align-content: center;
}
