.top-filter-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

@media (max-width: 768px) {
  .top-filter-list :first-child {
    margin-left: 0px;
  }

  .top-filter-list :last-child {
    margin-right: 0px;
  }
}

.top-filter-button {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  /* width: 220px; */
  width: 100%;
  height: min-content;
  background-color: #fff;
  text-align: left;
  border-radius: 6px;
  border: 2px solid #eaeaea;
  outline: none;
  transition:
    border-color 0.15s,
    background-color 0.15s;
  border-radius: 6px;
  border: 2px solid #eaeaea;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 0.95rem;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  /* pointer-events: none; */
}

@media (max-width: 768px) {
  .top-filter-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: 6px;
  }
}

.top-filter-button:hover {
  background-color: #fc0;
  border-color: #fc0;

  color: #000000 !important;
}

.top-filter-button:hover .filter-button-question-icon {
  color: #000000 !important;
}

.top-filter-button-content {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
}

@media (max-width: 768px) {
  .top-filter-button-content {
    flex-direction: column;
    height: min-content;
    width: 100%;
  }
}

.top-filter-button-icon-span {
  width: 60px;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

@media (max-width: 768px) {
  .top-filter-button-icon-span {
    margin-bottom: 5px;
    margin-right: 0px;
  }
}

.top-filter-button-icon-img {
  height: 60px !important;
}

/* @media (max-width: 768px) {
  .top-filter-button-icon-img {
    height: 45px !important;
  }
} */

.top-filter-button-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0rem !important;
}

@media (max-width: 768px) {
  .top-filter-button-text {
    font-size: 0.8rem;
    margin-top: 8px;
  }
}

.top-filter-button-small-text {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0rem !important;
}

@media (max-width: 768px) {
  .top-filter-button-small-text {
    font-size: 0.6rem;
  }
}

.top-filter-button-info-icon {
  margin-left: 1rem;
  color: #afafaf;
  font-size: 1.3rem;
  pointer-events: auto;
}

@media (max-width: 768px) {
  .top-filter-button-info-icon {
    margin-left: 0.6rem;
    font-size: 1.1rem;
    display: none !important;
  }
}

.top-filter-button-info-icon-mobile {
  font-weight: 900;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 1.2em;
  color: #afafaf;
  display: none !important;
}
@media (max-width: 768px) {
  .top-filter-button-info-icon-mobile {
    /* display: inline-block !important; */
  }
}

.top-filter-button-info-box {
  display: none;
  position: absolute;
  top: -145px; /* Adjust as needed */
  left: -50px; /* Adjust as needed */
  background-color: #fff;
  /* border: 1px solid #ccc; */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
  width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.top-filter-button-info-box-main-text {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.5rem !important;
}

.top-filter-button-info-box-small-text {
  font-size: 0.7rem;
  line-height: 1.1rem;
  font-weight: 400;
  margin-bottom: 0rem !important;
  color: #4f4f4f;
}

@media only screen and (max-width: 768px) {
  /* Tablet and smaller */
  .info-box {
    display: none !important; /* Hide the info box */
  }
}

.num_of_results {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000;
}
