.depotrum-list {
  width: 100%;
}

/********** DEPOTRUM ROW /***********/
/* common / full screen */
.depotrum-list .depotrum-row {
  display: flex;
  font-family: "Helvetica";
  padding: 0.5rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  /*border:1px solid #ECECEC;
    border-radius: 0.75rem;
      box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 5%);*/
  border-bottom: 1px solid #ececec;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-item {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-item {
    padding: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 4%);
  }
}
/*********************/

.depotrum-list .depotrum-row .flex-container {
  flex-grow: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.vertical-center {
  display: flex;
  align-items: center;
}

/********** M2 COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .m2-column {
  min-width: 80px;
}

.depotrum-list .depotrum-row .m2size {
  font-size: 18pt;
  font-weight: 700;
}

.depotrum-list .depotrum-row .m2label {
  color: #000000;
  font-size: 13pt;
  font-weight: 500;
  margin-left: 5px;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .m2size {
    font-size: 16pt;
  }

  .depotrum-list .depotrum-row .m2label {
    font-size: 11pt;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .m2-column {
    min-width: 60px;
  }

  .depotrum-list .depotrum-row .m2size {
    font-weight: 600;
    font-size: 15pt;
  }

  .depotrum-list .depotrum-row .m2label {
  }
}
/*********************/

/********** M3 COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .m3-column {
  min-width: 80px;
}

.depotrum-list .depotrum-row .m3size {
  font-size: 18pt;
  font-weight: 700;
}

.depotrum-list .depotrum-row .m3label {
  color: #000000;
  font-size: 13pt;
  font-weight: 500;
  margin-left: 5px;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .m3size {
    font-size: 16pt;
  }

  .depotrum-list .depotrum-row .m3label {
    font-size: 11pt;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .m3-column {
    min-width: 60px;
  }

  .depotrum-list .depotrum-row .m3size {
    font-weight: 600;
    font-size: 15pt;
  }

  .depotrum-list .depotrum-row .m3label {
  }
}
/*********************/

/********** PLACEMENT COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .placement-column {
  background-color: #f5f5f5;
  border: 1px;
  border-radius: 0.3rem;
  border-color: #c5c5c5;
  padding: 0.5rem;
}

.depotrum-list .depotrum-row .placement-text-div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
}

.depotrum-list .depotrum-row .placement-heading {
  display: block;
  font-weight: 300;
  font-size: 9pt;
  line-height: 1rem;
  margin-bottom: 0px !important;
}

.depotrum-list .depotrum-row .placement-text {
  font-weight: 500;
  font-size: 8pt;
  line-height: 1rem;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .placement-column {
    background-color: #f5f5f5;
    border: 1px;
    border-radius: 0.3rem;
    border-color: #c5c5c5;
    padding: 0.5rem;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .placement-column {
    display: none;
  }
}

/********** PRICE COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .price-column {
  padding-left: 1rem;
  justify-content: flex-end;
}

.depotrum-list .depotrum-row .price {
  color: #3f4245;
  font-weight: 400;
  font-size: 15pt;
}

.depotrum-list .depotrum-row .month {
  color: #3f4245;
  font-weight: 200;
  font-size: 10pt;
  margin-left: 5px;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .price {
    font-size: 14pt;
  }

  .depotrum-list .depotrum-row .month {
    font-size: 9pt;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .price-column {
    min-width: 120px;
  }
  .depotrum-list .depotrum-row .price {
    font-size: 13pt;
  }

  .depotrum-list .depotrum-row .month {
    font-size: 9pt;
  }
}
/*********************/

.depotrum-list .depotrum-row .navigation-column {
  padding-left: 1rem;
  justify-content: flex-end;
}

.navigation-column svg {
  fill: #ff8929;
  stroke: #ff8929;
  stroke-width: 2px;
}

/********** CONTINUE BUTTON /***********/
/* common / full screen */
.continue-button {
  padding: 0.75rem 1rem;
  background-color: #ff336a;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Helvetica";
  text-align: center;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  border-radius: 0.3rem;
  border: 0px;
}
/* mobile */
@media screen and (max-width: 767px) {
  .continue-button {
    padding: 0.4rem 0.6rem;
    font-size: 11pt;
  }
}
/*********************/

/********** VIEW ALL BUTTON /***********/
/* common / full screen */
.view-all-button {
  float: right;
  padding: 0.5rem 0.8rem;
  background-color: #ff336a;
  color: #ffffff;
  line-height: 1rem;
  font-weight: 700;
  font-size: 12pt;
  font-family: "Helvetica";
  text-align: center;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  border-radius: 0.3rem;
  border: 0px;
}
/* mobile */
@media screen and (max-width: 767px) {
  .view-all-button {
    padding: 0.4rem 0.6rem;
    font-size: 11pt;
  }
}
/*********************/

/********** NINJA FORMS BUTTON /***********/
/* common / full screen */
.depotrum-list .depotrum-row .bsui .btn {
  padding: 0.5rem 0.7rem;
  font-weight: 700;
  font-size: 12pt;
  line-height: 1rem;
}
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .bsui .btn {
    padding: 0.4rem 0.6rem;
    font-size: 11pt;
  }
}
