.depotrum-list {
  width: 100%;
  /* padding: 1rem; */
  border: 1px solid #eaeaea;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.depotrum-list.no-border {
  border: 0px !important;
}

.outer-depotrum-row {
  width: 100%;
}

/********** DEPOTRUM ROW /***********/
/* common / full screen */
.depotrum-list .depotrum-row {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-family: "Helvetica";
  padding: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #000000;
  text-decoration: none; /* Removes underline */
  border-bottom: 1px solid #eaeaea;
}

/* .depotrum-list .depotrum-row.last {
  border-bottom: 0px;
} */

.depotrum-list .depotrum-row.partner.yellowhover:hover {
  background-color: #fffae5 !important; /* Yellow background on hover */
  color: #000000;
}

.depotrum-list .depotrum-row.partner:hover {
  background-color: #f5f5f5 !important; /* Darker background on hover */
  color: #000000;
}

.depotrum-list .depotrum-row.non-partner {
  padding: 0.2rem;
}

/*********************/

.depotrum-list .depotrum-row .flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
  z-index: 10;
  /* margin-left: 1rem; */
}

.depotrum-list .depotrum-row .flex-container.booking-enabled {
  gap: 0.8rem;
}

/* mobile */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .flex-container {
    gap: 0.8rem;
  }
}

/* mobile */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .flex-container.booking-enabled {
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.vertical-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/********** SIZE COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .size-column {
  max-width: calc(100% - 70px - 5.5rem);
  gap: 0.1rem;
  width: fit-content;
}

.depotrum-list .depotrum-row .size-column.booking-enabled {
  max-width: calc(100% - 70px - 14.5rem);
}

.depotrum-list .depotrum-row .detaileddesc {
  font-size: 10pt;
  font-weight: 500;
}

.depotrum-list .depotrum-row .bigbold {
  color: #000000;
  font-size: 17pt;
  font-weight: 600;
  white-space: nowrap;
}
.depotrum-list .depotrum-row .big {
  color: #000000;
  font-size: 17pt;
  font-weight: 500;
  /* white-space: nowrap; */
}
.depotrum-list .depotrum-row .normal {
  color: #000000;
  font-size: 12pt;
  font-weight: 400;
  white-space: nowrap;
}
.depotrum-list .depotrum-row .smallbold {
  color: #000000;
  font-size: 9pt;
  font-weight: 600;
  white-space: nowrap;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .size-column.booking-enabled {
    max-width: min-content;
  }
  .depotrum-list .depotrum-row .detaileddesc {
    font-size: 10pt;
    font-weight: 500;
    /* display: none; */
  }

  .depotrum-list .depotrum-row .normal {
    color: #000000;
    font-size: 11pt;
    font-weight: 400;
    white-space: nowrap;
  }

  .depotrum-list .depotrum-row .bigbold {
    color: #000000;
    font-size: 14pt;
    font-weight: 600;
  }
  .depotrum-list .depotrum-row .big {
    color: #000000;
    font-size: 12pt;
    font-weight: 500;
  }
  .depotrum-list .depotrum-row .smallbold {
    color: #000000;
    font-size: 9pt;
    font-weight: 600;
  }
}
/*********************/

/********** BOOKING PRICE COLUMN /***********/

/* hides first price on archive page */
.depotrum-list .depotrum-row .flex-container .price-column {
  max-width: calc(100% - 70px - 5.5rem);
  gap: 0.1rem;
  width: fit-content;
  display: none;
}

/* shows second price on archive page */
.depotrum-list .depotrum-row .flex-container .flex-container-2 .price-column {
  max-width: calc(100% - 70px - 5.5rem);
  gap: 0.1rem;
  width: fit-content;
  display: flex;
}

/* shows first price on gd_place page */
.depotrum-list .depotrum-row .flex-container.booking-enabled .price-column {
  display: flex;
  max-width: min-content;
}

/* hides second price on gd_place page */
.depotrum-list
  .depotrum-row
  .flex-container.booking-enabled
  .flex-container-2.booking-enabled
  .price-column {
  display: none;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .booking-price-column.booking-enabled {
    max-width: min-content;
    display: flex;
  }
}
/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .booking-price-column {
    display: flex;
  }
}

/********** IMAGE COLUMN /***********/
.depotrum-list .depotrum-row .image-column {
  min-width: 60px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .image-column {
    min-width: 50px;
    max-width: 50px;
  }
}

/*********************/

/********** PRICE COLUMN /***********/
/* common / full screen */
.depotrum-list .depotrum-row .price-column {
  padding-left: 1rem;
  justify-content: flex-end;
  margin-left: auto; /* Pushes the tag column to the end */
}

.depotrum-list .depotrum-row .flex-container-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1rem;
}

.flex-container-2.booking-enabled.line-break {
  max-width: min-content !important;
  margin-left: auto !important;
}

/*mobile*/
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .flex-container-2 {
    padding-left: 0.3rem;
  }
}

.depotrum-list .depotrum-row .flex-container-2.booking-enabled {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
}

.depotrum-list .depotrum-row .price {
  color: #3f4245;
  white-space: nowrap;
}

.depotrum-list .depotrum-row .price.partner {
  font-weight: 400;
  font-size: 14pt;
}

.depotrum-list .depotrum-row .price.non-partner {
  font-weight: 300;
  font-size: 12pt;
}

.depotrum-list .depotrum-row .month {
  color: #3f4245;
  font-weight: 200;
  font-size: 10pt;
  white-space: nowrap;
  /* margin-left: 5px; */
}

.price-column.vertical-center.booking-enabled.line-break {
  margin-left: 0 !important; /* Reset margin left when price is pushed to new line */
  padding-left: 0.5rem !important;
}

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .price-column {
    flex-basis: 100%;
    max-width: 100%; /* Set maximum width to 100% to ensure they break onto a new line */
    padding-left: 0;
    margin-left: 0; /* Reset margin left */
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .depotrum-list .depotrum-row .price-column.booking-enabled {
    padding-left: 1rem;
    justify-content: flex-start;
    margin-left: auto; /* Pushes the tag column to the end */
  }

  .price-column .month {
    font-size: 9pt;
  }

  .price-column .price.partner {
    font-weight: 400;
    font-size: 13pt;
  }

  .price-column .price.non-partner {
    font-weight: 300;
    font-size: 11pt;
  }
  .price-column.booking-enabled .month {
    font-size: 12pt;
  }

  .price-column.booking-enabled .price.partner {
    font-weight: 400;
    font-size: 15pt;
  }
}
/*********************/

/* tablet */
@media screen and (max-width: 1024px) {
  .depotrum-list .depotrum-row .navigation-column {
    /* display: flex; */
    padding-left: 0.3rem;
  }
  .price-column.booking-enabled .price.partner {
    font-weight: 500;
    font-size: 16pt;
    margin-bottom: 0.2rem;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .navigation-column {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.view-all-row svg {
  fill: #ff8929;
  stroke: #ff8929;
  stroke-width: 2px;
}

/********** CONTINUE BUTTON /***********/
/* common / full screen */
.continue-button {
  background-color: #ff336a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1rem;
  font-family: "Helvetica";
  text-align: center;
  outline: none; /* Remove outline */
  user-select: none;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 6px !important;
  border: none; /* No border */
  padding: 14px 24px; /* Top and bottom padding 12px, left and right padding 24px */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.continue-button:hover {
  transform: scale(1.02);
}
/* mobile */
@media screen and (max-width: 767px) {
  .continue-button {
    font-size: 14pt;
  }
}
/*********************/

/********** VIEW ALL BUTTON /***********/
/* common / full screen */
.view-all-row {
  display: flex;
  flex-direction: row;
  font-family: "Helvetica";
  padding: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #000000;
  text-decoration: none; /* Removes underline */
  align-items: center;
  overflow: hidden;
}

.view-all-row.yellowhover:hover {
  background-color: #fffae5 !important; /* Yellow background on hover */
  color: #000000;
}

.view-all {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  /* margin: 1rem;
  margin-top: 0.8rem; */
  margin-bottom: 0rem !important;
  max-width: calc(80%);
  line-height: 1.8rem;
}

.view-all-row svg {
  fill: #ff8929;
  stroke: #ff8929;
  stroke-width: 2px;
  margin-left: auto;
}
/* mobile */
@media screen and (max-width: 767px) {
  .view-all-row {
  }
  .view-all {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    margin-bottom: 0rem !important;
  }
}
/*********************/

/********** NINJA FORMS BUTTON /***********/
/* common / full screen */
.depotrum-list .depotrum-row .bsui .btn {
  padding: 0.5rem 0.7rem;
  font-weight: 700;
  font-size: 12pt;
  line-height: 1rem;
}
@media screen and (max-width: 767px) {
  .depotrum-list .depotrum-row .bsui .btn {
    padding: 0.4rem 0.6rem;
    font-size: 11pt;
  }
}

/********** NOTE/***********/
.note {
  font-size: 10pt;
  font-weight: 600;
}

/********** DISCOUNT /***********/
.discount {
  min-width: 6rem !important;
  margin-bottom: 0rem !important;
}

.discount p {
  color: #390 !important;
  font-size: 12pt !important;
  white-space: wrap;
  margin-bottom: 0.3rem !important;
  text-align: right;
}

.discount-price p {
  font-size: 14pt !important;
  font-weight: 600;
  margin-bottom: 0rem !important;
}

.discount-active {
  /* color: #ff336a;
  color: #390;
  color: #fe8240 !important; */
  font-size: 12pt !important;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: line-through;
}

/* mobile */
@media screen and (max-width: 767px) {
  .discount {
    min-width: 4rem !important;
    margin-bottom: 0rem !important;
  }
  .discount p {
    font-size: 10pt !important;
    margin-bottom: 0.2rem !important;
  }
  .discount-active {
    font-size: 10pt !important;
  }
}

@media screen and (max-width: 1024px) {
  .price-column.booking-enabled .price.partner.discount {
    min-width: 8rem !important;
  }

  .price-column.booking-enabled .price.partner.discount-active {
    font-size: 10pt !important;
  }

  .price-column.booking-enabled .price.partner.discount p {
    text-align: left;
    font-size: 12pt !important;
  }
}
